<h3><%= @post.title%></h3>
<strong>Book Author: <%= @post.author %></strong>
<br>
<strong>Posted At: <%= @post.created_at %></strong>
<p><%= @post.review %></p>
<p>By: <%= @post.user.name%></p>

<%if authorized_to_edit?(@post)%>
    <a href="/posts/<%= @post.id %>/edit"> Edit Review </a>

    <br><br>
    <form action="/posts/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete This Review">
    </form>
<%end%>

